@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');



* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
}

a:visited {
    color: currentColor;
}

li {
    list-style-type: none;
}

/* Header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 100px;
    box-sizing: border-box;
    padding: 0 50px;
}

/* main header */
.main_Header {
    margin-bottom: 40px;
    padding: 0 50px;
}

/* Navigation */

.menu {
    width: 23%;
    min-width: 325px;
}

.menu_List {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 325px;
    height: 100%;
    align-items: center;
    padding: 0;
}

.menu_Link {
    min-width: 162px;
    text-align: center;
    width: 50%;
    margin: 0;
}

.menu_Link a {
    padding: 40px 0;
    display: block;
}

.active, .menu_Link:hover {
    box-shadow: inset 0 2px #0065FC;
}

.active , .menu_Link:hover a {
    font-weight: 500;
    color: #0065FC;
}

/* logo */

.logo {
    display: flex;
    align-items: center;
    width: 10%;
    min-width: 65px;
}

.logo img {
    max-height: 19px;
}

/* General font styles */

h1 {
    font-size: 1.375em;
    font-weight: 700;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.375em;
    font-weight: 700;
    margin: 20px 0;
}

h3 {
    font-size: 1em;
    font-weight: 700;
}

.paragraph {
    font-size: 1em;
    font-weight: 400;
}

/* Colors styles */

.color_Blue {
    color: #0065FC;
}

.color_Beige {
    color: #F2F2F2
}

.bg_Blue {
    background: #0065FC;
}

.bg_Beige {
    background: #F2F2F2;
}

/* Search form */

.location_SearchForm {
    display: flex;
    height: 50px;
    min-width: 35%;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0 30px 0;
}

.left_SearchButton {
    border: 1px solid #f2f2f2;
    background: #f2f2f2;
    border-radius: 15px 0 0 15px;
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    box-sizing: border-box;
}

.middle_SearchButton {
    border: 1px solid #f2f2f2;
    height: 50px;
    font-size: 1.125em;
    font-weight: 700;
    padding-left: 16px;
    box-sizing: border-box;
}

.middle_SearchButton::placeholder {
    color: black;
}

.right_SearchButton {
    height: 50px;
    border: 1px solid #0065FC;
    max-width: 132px;
    padding: 0 16px;
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 1.125em;
    font-weight: 700;
    box-sizing: border-box;
}

.right_SearchButton:hover {
    cursor: pointer;
}

/* #searchButton_Text {
    display: inline;
    font-size: 1em;
}

#searchButton_Icon {
    display: none;
    font-size: 1em;
} */

.searchButton_Text {
    display: inline;
    font-size: 1em;
}

.searchButton_Icon {
    display: none;
    font-size: 1em;
}

/* Filter */

.filter_Container {
    display: flex;
    align-items: center;
    margin: 20px 0 35px;
    padding-left: 10px;
    padding-right: 10px;
    width: 63%;
    box-sizing: border-box;
}

.filter_Title {
    font-size: 1.125em;
    font-weight: 700;
    margin-right: 15px;
}

.filter_Items {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.filter{
    display: flex;
    justify-content: center;
    height: 50px;
    margin: 6px;
    box-sizing: border-box;
}

.filter_Link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    border: 2px solid #D9D9D9;
    border-radius: 25px;

    font-size: 1.0625em;
    font-weight: 700;

    box-sizing: border-box;
    padding: 5px;

    width: fit-content;
    max-width: 250px;
    min-width: max-content;
    height: 100%;
}

.filter i {
    margin-right: 8px;
}

.filter:hover {
    background-color: #DEEBFF;
}

/* Information Icon style */

.round_Icon {
    border-radius: 50%;
    min-width: 24px;
    min-height: 24px;
    border: 1px solid #D9D9D9;
    text-align: center;
    line-height: 24px;
    display: inline-block;
    margin-right: 10px;
}

.info {
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

/* Cards */

.cards {
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.cards_Link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

/* Accomodations */

.accomodation_Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding: 0 50px;
}

.accomodation_Section {
    margin-bottom: 10px;
    padding: 10px 3%;
    width: 63%;
    border-radius: 20px;
    box-sizing: border-box;
}

.accomodationCards_Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.accomodation_Cards {
    width: 32%;
    min-width: 169px;
    margin-bottom: 40px;
    height: 200px;
    box-sizing: border-box;
}

.accomodation_CardsLink {
    flex-direction: column;
}

.accomodation_Images {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid #FFFFFF;
    border-bottom-width: 0px;
    box-sizing: border-box;
}

/* Popular Accomodation */

.popular_Section {
    width: 32%;
    padding: 10px 3%;
    margin-bottom: 10px;
    border-radius: 20px;
    box-sizing: border-box;
}

.popularCards_Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.popular_Cards {
    margin-bottom: 30px;
    height: 145px;
    width: 100%;
}

.popular_CardsLink {
    flex-direction: row;
}

.popular_Images {
    width: 40%;
    height: 145px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    border: 5px solid #FFFFFF;
    border-right-width: 0px;
    box-sizing: border-box;
}

.chart_Line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* Activities */

.activities_Container {
    margin-bottom: 40px;
    padding: 0 50px;
}

.activities_Section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activitiesCards_Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.activities_Cards {
    flex-direction: column;
    justify-content: flex-start;
    width: 23%;
    height: 450px;
    box-sizing: border-box;
}

.activities_CardsLink{
    flex-direction: column;
}

.activities_Images {
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    height: 390px;
}

/* Text write on cards */

.card_Text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_Info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 4px 10px 10px;
    height: 80px;
}

.cards .paragraph {
    font-size: 0.875em;
}

.popular_Cards .card_Info {
    box-sizing: border-box;
    padding: 15px 12px;
    height: 145px;
    width: 59%;
}

.popular_Cards h3 {
    margin-bottom: 8px;
}

.activities_Cards h3 {
    margin: auto 6%;
}

/* Stars on cards */

.stars {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 15px;
    line-height: 15px;
}

.stars i {
    height: 14px;
    line-height: 14px;
}

/* Footer */

.footer {
    padding: 0 50px;
}

.footer_Container{
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    padding: 3% 50px 0;
    min-height: 200px;
    box-sizing: border-box;
}

.footer_List {
    width: 28%;
    padding: 0 1%;
}

.footer_Title {
    font-size: 1.125em;
    margin: 0 0 20px;
}

.footer_Link {
    margin-bottom: 12px;
    display: block;
}

/* Media Queries Tablet */

@media all and (min-width : 768px) and (max-width : 991px) {

    /* Accomodation */

    .accomodation_Section {
        width: 100%;
        padding: 15px 5%;
        margin-bottom: 50px;
    }

    .accomodation_Cards {
        width: 30%;
    }

    /* Popular */

    .popular_Section {
        width: 100%;
        margin-bottom: 35px;
    }

    .popularCards_Container {
        flex-direction: row;
    }

    .popular_Cards {
        width: 31%;
    }

    .popular_Cards .card_Info {
        padding: 12px 25px 12px 10px;
        height: 145px;
        width: 59%;
    }

    /* Activities */

    .activities_Cards {
        height: 267px;
        width: 21%;
    }

    .activities_Images {
        height: 211px;
    }

}

/* Media Queries Tablet for Filter only */

@media screen and (min-width:768px) and (max-width:810px) {

    /* Filter */
    .filter_Container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding: 0;
    }

    .filter_Title {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .filter_Items {
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        align-self: center;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .filter{
        width: 50%;
        margin: 6px 0;
    }

    .filter_Link {
        width: 100%;
        max-width: 196px;
        height: 100%;
    }

}

/* Media Queries Mobile */

@media screen and (max-width:767px) {

    body {
        min-width: 375px;
    }

    .section_Content{
        margin: 0 auto 40px;
        min-width: 320px;
        max-width: 375px;
        width: 100%;
    }

    /* Header Banner */

    .header {
        flex-wrap: wrap;
        margin: 0 0 30px;
        max-height: none;
        box-sizing: content-box;
        padding: 0;
    }

    .logo {
        display: flex;
        justify-content: center;
        width: 100%;
        min-width: 65px;
        margin: 25px 0;
    }

    .menu {
        width: 100%;
        box-shadow: 0 3px #F2F2F2;
    }

    .menu_Link {
        min-width: 162px;
        text-align: center;
        width: 50%;
        margin: 0;
    }

    .menu_Link a {
        padding: 25px 0;
        display: block;
    }

    .active, .menu_Link:hover {
        box-shadow: 0 3px #0065FC;
    }

    .active .menu_Link:hover a {
        font-weight: 500;
        color: #0065FC;
    }

    .main_Header {
        padding: 0 20px;
        margin: 0 auto 40px;
        max-width: 375px;
    }

    /* Search form */

    .middle_SearchButton{
        width: 100%;
    }

    .right_SearchButton {
        width: 50px;
        min-width: 50px;
    }

    .searchButton_Text {
        display: none;
    }

    .searchButton_Icon {
        display: inline;
    }
    /* New Filter */
    .filter_Container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding: 0;
    }

    .filter_Title {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .filter_Items {
        flex-wrap: wrap;
        width: 100%;
        align-self: center;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .filter{
        width: 50%;
        margin: 6px 0;
        font-size: 0.6875em;
    }

    .filter_Link {
        height: 100%;
        width: 160px;
        min-width: 152px;
    }

    /* Accomodation Container */

    .accomodation_Container {
        flex-direction: column-reverse;
        padding: 0;
        margin-bottom: 60px;
    }

    /* Popular Accomodation */

    .popular_Section {
        width: 100%;
        border-radius: 0;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .popular_Cards {
        width: 100%;
        margin-bottom: 12px;
    }

    /* Accomodations */

    .accomodation_Section {
        width: 100%;
        border-radius: 0;
        padding: 0 20px;
        background: white;
        box-sizing: border-box;
    }

    .accomodationCards_Container {
        flex-direction: column;
    }

    .accomodation_Cards {
        width: 100%;
        margin-bottom: 12px;
    }

    .accomodation_More {
        display: none;
    }

    /* Activities */

    .activities_Container {
        margin-bottom: 40px;
        padding: 0;
    }

    .activities_Section {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .activitiesCards_Container {
        flex-direction: column;
    }

    .activities_Cards {
        width: 100%;
        height: 190px;
        margin-bottom: 12px;
    }

    .activities_Images {
        height: 134px;
    }

    .activities_Title {
        width: 40%;
        max-width: 210px;
    }

    /* footer */

    .footer{
        padding: 0 20px;
    }

    .footer_Container {
        flex-direction: column;
        min-height: 500px;
        height: auto;
        padding: 45px 20px 0;
    }

    .footer_List {
        width: 100%;
        min-width: 200px;
        padding: 0;
        margin-bottom: 40px;
    }

}